*{
    text-align: center;
    font-family: monospace;
  }
  #text{
    text-shadow: 2px 2px 1px #cb6115; /*(right-offset)px (bottom-offset)px (fade)px color*/
  }
  #box{
    box-shadow: 9px 9px 7px #262a36; /*(right-offset)px (bottom: ;-offset)px (fade)px color*/
  }
  #indent{
    
    text-indent: 30%
  }
  